<h1>Fortunes#index</h1>
<div id="pick_one">
  <%= button_to "Random", random_path, method: :get%>
</div>
<div id="fortunes">
<% @allfortunes.find_each do |fortune| %>
  <p> 
  <%= link_to "Fortune #{fortune.id}", fortune%>
  </p>
<% end %>
</div>

